/* set the variables for light mode first */
:root {
    --background-color: rgb(240, 238, 238);
    --text-color: #1c1c1e;
    --accent-color: #c7c7cc; 
    --nav-color: #8596e0;
    --nav-color-hover: #a6a6a8;
    --modal-color: white;
    --theme-switch-label-color-hover: blue;
    --project-background-color: lightblue;
    --hyperlink-color: blue;
}

/* switch to dark mode */
:root:has(#theme-switch:checked) {
    --background-color: #39393c;
    --text-color: #f2f2f7;
    --accent-color: #5c5c5f;
    --nav-color: #371b23;
    --nav-color-hover: #48484a;
    --modal-color: #2c2c2e;
    --theme-switch-label-color-hover: lightblue;
    --project-background-color: rgb(35, 35, 59);
    --hyperlink-color: red;
}

/* font and background color for everything */
body {
    font-family: 'Nunito Sans', sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
    margin: 0;
    transition: all .5s ease;

    animation-name: fadeIn;
    transition-timing-function: ease;
    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

main {
    padding: 0.8rem;
    display: flex;
    max-width: 100%;
    justify-content: stretch;
}

#projects {
    width: 40rem;
    text-align: center;
}

#projects h3,
#projects li,
#projects p {
    text-align: left;
}

#about {
    max-width: 30rem;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    padding: 0 15px 15px 15px;
}

#about h1 {
    text-align: center;
}

table {
    border: solid 3px black;
    border-collapse: collapse;
    text-align: center;
}
tr {
    border: none;
}
th {
    border: solid 3px black;
}
td {
  border-right: solid 3px black; 
  border-left: solid 3px black;
}

#theme-switch-label-dark,
#theme-switch-label-light {
    width: 12rem;
    height: 3rem;
    margin-left: 2rem;
    margin-right: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: var(--accent-color);
    cursor: pointer;
    user-select: none;
    border-radius: 0.5rem;
    transition: all .5s ease;
}

#theme-switch-label-light {
    display: none;
}

#theme-switch-label-dark:hover {
    color: var(--theme-switch-label-color-hover);
    background-color: var(--nav-color-hover);
    transform: scale(1.1);
}

#theme-switch-label-light:hover {
    color: var(--theme-switch-label-color-hover);
    background-color: var(--nav-color-hover);
    transform: scale(1.1);
}

#theme-switch {
    display: none;
}

#theme-switch:checked ~ #theme-switch-label-dark {
    display: none;
}

#theme-switch:checked ~ #theme-switch-label-light {
    display: flex;
}

header {
    background-color: var(--nav-color);
    display: flex;
    height: 4rem;
    width: 100%;
    position: relative;
    justify-content: center;
    align-items: center;
}

#my-name {
    width: 18rem;
    height: 4rem;
    margin: 0;
    display: flex;
    justify-content: left;
    align-items: center;
    text-align: center;
    padding-left: 2rem;
}

#contact-me {
    color: var(--text-color);
    text-decoration: none;
    width: 12rem;
    height: 3rem;
    margin-right: 4rem;
    margin-left: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: var(--accent-color);
    cursor: pointer;
    user-select: none;
    border-radius: 0.5rem;
    transition: all .5s ease;
}

#contact-me:hover {
    color: var(--theme-switch-label-color-hover);
    background-color: var(--nav-color-hover);
    transform: scale(1.1);
}

a {
    color: var(--hyperlink-color);
}

a:hover {
    text-decoration: none;
}

input {
    margin: 10px 10px 10px 10px;
}

#project1,
#project2,
#project3 {
    border: solid var(--theme-switch-label-color-hover) 5px;
    border-radius: 12px;
    margin: 35px 10px 10px 10px;
    padding: 10px 10px 10px 10px;
    background-color: var(--project-background-color);
}

footer {
    padding: 20px 20px 20px 20px;
}

footer h2,
footer h3,
footer p {
    text-align: center;
}

picture {
    width: 100%;
}

/* mobile if the width is less than 576px */
@media screen and (max-width: 576px) {

    #contact-me {
        color: var(--text-color);
        text-decoration: none;
        width: 70px;
        height: 50px;
        margin-right: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        background-color: var(--accent-color);
        cursor: pointer;
        user-select: none;
        border-radius: 0.375rem;
        transition: all .5s ease;
    }

    #theme-switch-label-dark,
    #theme-switch-label-light {
        width: 70px;
        height: 50px;
        margin-right: 10px;
        margin-left: 0;
        margin-top: 0;
        margin-bottom: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        background-color: var(--accent-color);
        cursor: pointer;
        user-select: none;
        border-radius: 0.375rem;
        transition: all .5s ease;
    }

    main {
        padding: 0.8rem;
        display: flex;
        flex-direction: column;
    }

    #projects {
        width: 100%;
    }

    #theme-switch-label-light {
        display: none;
    }
    
    #theme-switch-label-dark:hover {
        color: var(--theme-switch-label-color-hover);
        background-color: var(--nav-color-hover);
        transform: scale(1.1);
    }
    
    #theme-switch-label-light:hover {
        color: var(--theme-switch-label-color-hover);
        background-color: var(--nav-color-hover);
        transform: scale(1.1);
    }
    
    #theme-switch {
        display: none;
    }
    
    #theme-switch:checked ~ #theme-switch-label-dark {
        display: none;
    }
    
    #theme-switch:checked ~ #theme-switch-label-light {
        display: flex;
    }

    header {
        background-color: var(--nav-color);
        display: flex;
        height: 5rem;
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    header h1 {
        font-size: 60%;
    }

    #my-name {
        font-size: 100%;
        width: 200px;
        height: 50px;
        padding: 0;
        margin-right: 3rem;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
}

/* tablet if the width is greater than 576px but less than 992px */
@media screen and (min-width: 576px) and (max-width: 992px) {
    
    header h1 {
        font-size: 120%;
    }

    main {
        padding: 0.8rem;
        display: flex;
        flex-direction: column;
    }

    #projects {
        width: 100%;
    }
}
