/* set the variables for light mode first */
:root {
    --background-color: white;
    --text-color: #1c1c1e;
    --accent-color: #c7c7cc; 
    --nav-color: #8596e0;
    --nav-color-hover: #a6a6a8;
    --modal-color: white;
    --theme-switch-label-color-hover: blue;
}

/* switch to dark mode */
:root:has(#theme-switch:checked) {
    --background-color: #1c1c1e;
    --text-color: #f2f2f7;
    --accent-color: #5c5c5f;
    --nav-color: #371b23;
    --nav-color-hover: #48484a;
    --modal-color: #2c2c2e;
    --theme-switch-label-color-hover: lightblue;
}

/* font and background color for everything */
body {
    font-family: 'Nunito Sans', sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
    margin: 0;

    animation-name: fadeIn;
    transition-timing-function: ease;
    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

main, nav {
    padding: 0.8rem;
}

/* Styling the checkbox input */
#theme-switch-label-dark, #theme-switch-label-light {
    width: 12rem;
    height: 3rem;
    margin-left: 2rem;
    margin-right: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: var(--accent-color);
    cursor: pointer;
    user-select: none;
    border-radius: 0.5rem;
    transition: width 1s;
}

#theme-switch-label-light {
    display: none;
}

#theme-switch-label-dark:hover {
    color: var(--theme-switch-label-color-hover);
    background-color: var(--nav-color-hover);
    width: 13rem;
}

#theme-switch-label-light:hover {
    color: var(--theme-switch-label-color-hover);
    background-color: var(--nav-color-hover);
    width: 13rem;
}


#theme-switch {
    display: none;
}

#theme-switch:checked ~ #theme-switch-label-dark {
    display: none;
}

#theme-switch:checked ~ #theme-switch-label-light {
    display: flex;
}

.flex-parent {
    display: flex;
}

header {
    background-color: var(--nav-color);
    height: 4rem;
    position: relative;
    justify-content: center;
    align-items: center;
}

#my-name {
    width: 15rem;
    height: 4rem;
    margin: 0;
    display: flex;
    justify-content: left;
    align-items: center;
    text-align: center;
    padding-left: 2rem;
}

#contact-me {
    color: var(--text-color);
    text-decoration: none;
    width: 12rem;
    height: 3rem;
    margin-right: 4rem;
    margin-left: 60rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: var(--accent-color);
    cursor: pointer;
    user-select: none;
    border-radius: 0.5rem;
    transition: width 1s, margin-right 1s, margin-left 1s;
}

#contact-me:hover {
    color: var(--theme-switch-label-color-hover);
    background-color: var(--nav-color-hover);
    width: 13rem;
    margin-right: 3.5rem;
    margin-left: 59.5rem;
}

a {
    color: blue;
}

a:hover {
    text-decoration: none;
}
